


$--color-primary: #1890ff !default;
$--color-success: #13c1a3 !default;
$--color-warning: #ff8000 !default;

  @mixin container($type, $bgColor, $borderColor,) {
    &.container-#{$type} {
      .kr-slide-indicator{
        background: RGBA(62, 122, 242, 0.2) !important;
        border-color:  #3E7AF2;
      }
      .kr-slider {
        background: #3E7AF2;
        color: #fff;
      }
      .kr-slide-text{
        display: none;
      }
    }
  }

  .slide-verify {
    position: relative;
    width: 320px;
    
  .slide-verify-block {
    position: absolute;
    left: 0;
    top: 0;
  }
  .canves-box{
    position: relative;
    width: 320px;
    height: 160px;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.7);
    padding-bottom: 15px;
  }
  .slide-verify-refresh {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
  }
  .slide-verify-slider {
    position: relative;
    text-align: center;
    width: 320px;
    height: 40px;
    line-height: 40px;
    background: #f7f9fa;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #e4e7eb;
    .kr-slide-indicator {
      position: absolute;
      left: -1px;
      top: -1px;
      height: 40px;
      background: RGBA(62, 122, 242, 0.2);
      border: 1px solid transparent;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .kr-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 0 3px rgba(0,0,0,.3);
      cursor: pointer;
      transition: background .2s linear;
      color: #45494c;
      border-radius: 2px;
      &:hover{
        background: #3E7AF2;
        color: #fff;
      }
      .iconfont {
        font-size: 18px;
      }
    }
    .kr-slide-text{
      font-size: 12px;
      color: #45494c;
    }
    @include container(active,$--color-primary,$--color-primary);
    @include container(loading,$--color-success,$--color-success);
    @include container(success,$--color-success,$--color-success);
    @include container(fail,$--color-warning,$--color-warning);
    @include container(verifying,$--color-warning,$--color-warning);
  }
  .mask-loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
  }

}